
/* #components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
} */
  
.logo {
  color: white;
  font-size: medium;

}

.logo-img {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 1);
}

.logo-title{
  display: flex;
  background: rgba(255, 255, 255, 1);
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.error-message {
  display: inline-block;
  width: 200px; /* Adjust the width as needed */
  margin-left: 8px; /* Add any necessary margin */
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-footer .back-button {
  margin-right: 10px;
}
