.mainContainer {
    padding: 4% 12%;
    margin-top: 32px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    /* align-items: center; */
}

.productPreview {
    width: 50%;
}

.productPreview > img {
    width: 40%;
}

.productData {
    width: 50%;
}
.productData > h3 {
    font-weight: 600;
}

.productTitle {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
    margin-bottom: 16px;
}

.productPrice {
    font-size: 15px;
}

.productDescription {
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    margin-top: 0;
    margin-bottom: 16px;
}

.choice {
    /* width: max-content; */
    display: flex;
    justify-content: space-between;
}