.home {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
.home_panelList-wrap,
.home_panel-wrap,
.home_list-wrap {
  overflow-y: auto;
}

.home_panelList-wrap {
  flex: 1;
  display: flex;

}
.home_panel-wrap {
  background-color: #ffede6;
  flex-basis: 15rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  height: 150vh;
}
.home_list-wrap {
  flex: 1;
  padding: 1rem;
}
